XML/album.xsd.bak

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="artist" type="xsd:string"/>
	<xsd:element name="discography" type="discoType"/>
	<xsd:element name="album" type="albumType"/>
	
	<xsd:complexType name="discoType">
		<xsd:sequence>
			<xsd:element ref="artist"/>
			<xsd:element ref="album" maxOccurs="20"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="albumType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string"/>
			<xsd:attribute name="id" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

</xsd:schema>
