XML/cactus.xsd.bak

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="doc" type="docType"/>
	<xsd:element name="cactus" type="cactusType"/>
	<xsd:element name="name" type="xsd:string"/>	
	<xsd:complexType name="docType">
		<xsd:sequence>
			xsd:element ref="cactus" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="cactusType">
		<xsd:sequence>
			<xsd:element ref="name"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID" use="required"/>
	</xsd:complexType>
</xsd:schema>