XML/digit.xsd.bak

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:simpleType name="numType">
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="2"/>
			<xsd:totalDigits value=5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="doc" type="docType"/>
	<xsd:element name="num" type="numType"/>
	<xsd:complexType name="docType">
		<xsd:sequence>
			<xsd:element ref="num" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>