XML/hello.xsd.bak

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name = "doc" type = "docType"/>
	<xsd:element name = "msg" type = "xsd:string"/>
	<xsd:complexType name="docType">
		<xsd:sequence>
			<xsd:element ref="msg"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>