XML/history.xsd.bak

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="doc" type="docType"/>
	<xsd:element name="para" type="xsd:string"/>
	<xsd:complexType name="docType">
		<xsd:sequence>
			<xsd:element ref="para"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>Entity workaround</xsd:appinfo>
		<xsd:documentation>info.doc</xsd:documentation>
	</xsd:annotation>
	
	
</xsd:schema>
<!DOCTYPE doc [
<!ELEMENT doc (para)>
<!ENTITY html "HyperText Markup Language(HTML)">
<!ENTITY xml "eXtensible Markup Language(XML)">
<!ENTITY sgml "Standard Generalized Markup Language(SGML)">
<!ENTITY gml "Generalized Markup Language(GML)">
]>



